@import 'variable';

.btn {
  height: 32px;
  line-height: 1 !important;
  align-items: center;

  .icon {
    width: 22px;
    height: 22px;
  }
}

.btn-disabled {
  &:disabled {
    opacity: 0.65;
  }
}

.btn {
  &:disabled:not(.disabled-ignore) {
    pointer-events: none !important;
  }
}

.button-previous,
.button-next {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid white;

  &:hover {
    border: 1px solid $gray-300 !important;
  }
}

.icon-prev-month,
.icon-next-month {
  height: 15px;
  width: 9px;
}

.btn-icon-close {
  width: 12px;
  height: 12px;
  margin-top: 5px;
}

.close {
  &:hover {
    .btn-icon-close {
      background-color: $black;
    }
  }
}

.btn-close-hover {
  padding: 0 !important;

  button {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: $black-300;
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    background-color: $gray-210 !important;
  }
}

.btn-outline-secondary {
  border-color: $gray-200 !important;

  &:hover {
    background-color: $gray-210 !important;
  }
}

.btn-fake-disable {
  opacity: 0.65;
  pointer-events: none !important;
}
