.w-fit-content {
  width: fit-content;
}

.w-112 {
  width: 112px !important;
}

.w-128 {
  width: 128px !important;
}

.w-138 {
  width: 138px !important;
}

.w-152 {
  width: 152px !important;
}

.w-160 {
  width: 160px !important;
}

.w-174 {
  width: 174px !important;
}

.w-186 {
  width: 186px !important;
}

.w-192 {
  width: 192px !important;
}

.w-205 {
  width: 205px !important;
}

.w-208 {
  width: 208px !important;
}

.w-240 {
  width: 240px !important;
}

.w-244 {
  width: 244px !important;
}

.w-246 {
  width: 246px !important;
}

.w-256 {
  width: 256px !important;
}

.w-280 {
  width: 280px !important;
}

.w-304 {
  width: 304px !important;
}

.w-312 {
  width: 312px !important;
}

.w-328 {
  width: 328px !important;
}

.w-368 {
  width: 368px !important;
}

.w-384 {
  width: 384px !important;
}

.w-400 {
  width: 400px !important;
}

.w-416 {
  width: 416px !important;
}

.w-417 {
  width: 417px !important;
}

.w-421 {
  width: 421px !important;
}

.w-464 {
  width: 464px !important;
}

.w-468 {
  width: 468px !important;
}

.w-494 {
  width: 494px !important;
  max-width: 494px !important;
}

.w-495 {
  width: 495px !important;
}

.w-528 {
  max-width: 528px !important;
  width: 528px !important;
}

.w-552 {
  max-width: 552px !important;
  width: 552px !important;
}

.w-560 {
  width: 560px !important;
}

.w-572 {
  width: 572px !important;
}

.w-608 {
  width: 608px !important;
}

.w-640 {
  width: 640px !important;
}

.w-652 {
  width: 652px !important;
  max-width: 652px !important;
}

.w-668 {
  width: 668px !important;
}

.w-720 {
  width: 720px !important;
}

.w-743 {
  width: 743px !important;
}

.w-800 {
  width: 800px !important;
  max-width: 800px !important;
}

.w-830 {
  width: 830px !important;
  max-width: 830px !important;
}

.w-845 {
  width: 845px !important;
  max-width: 845px !important;
}

.w-912 {
  max-width: 912px !important;
  width: 912px !important;
}

.w-998 {
  max-width: 998px !important;
  width: 998px !important;
}

.w-1080 {
  max-width: 1080px !important;
  width: 1080px !important;
}

.w-1130 {
  max-width: 1130px !important;
  width: 1130px !important;
}

.w-1165 {
  max-width: 1165px !important;
  width: 1165px !important;
}

.h-32 {
  height: 32px !important;
}

.mw-152 {
  min-width: 152px !important;
}

.h-fit-content {
  height: fit-content;
}
