.text-normal {
  font-size: 14px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-medium {
  font-size: 16px !important;
}

.text-large {
  font-size: 18px !important;
}

.text-big {
  font-size: 22px !important;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.text-pre-line {
  white-space: pre-line;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.break-all {
  word-break: break-all; /* Chrome, Safari */
  word-wrap: break-word; /* IE11, Firefox */
}

.text-pre {
  white-space: pre !important;
}

.break-space {
  white-space: break-spaces;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.text-no-break {
  word-break: keep-all;
}

.break-work {
  word-break: break-word;
}

.fs-65pt {
  font-size: 6.5pt !important;
}

.fs-7pt {
  font-size: 7pt !important;
}

.fs-8pt {
  font-size: 8pt !important;
}

.fs-9pt {
  font-size: 9pt !important;
}

.fs-10pt {
  font-size: 10pt !important;
}

.fs-11pt {
  font-size: 11pt !important;
}

.fs-12pt {
  font-size: 12pt !important;
}

.fs-125pt {
  font-size: 12.5pt !important;
}

.fs-14pt {
  font-size: 14pt !important;
}

.fs-17pt {
  font-size: 17pt !important;
}

.fs-18pt {
  font-size: 18pt !important;
}
