@import 'src/app/styles/variable';

.popup {
  position: absolute;
  top: 39px;
  width: 160px;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08),
    0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  z-index: 1000;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    z-index: -10;
  }

  &.left-side::after {
    left: -5px;
  }

  &.right-side::after {
    right: -5px;
  }

  &:after {
    bottom: var(--after-position);
  }

  .inner {
    background-color: white;
    width: 160px;
    height: 125px;
    padding: 8px;
  }

  input {
    margin-right: 5px;
  }

  textarea {
    border: 1px solid $gray-120;
    color: $black-300;
    resize: none;

    &:focus-visible {
      outline: none;
    }
  }

  textarea::-webkit-input-placeholder {
    font-size: 12px;
    color: $black-700 !important;
    opacity: 0.45 !important;
  }

  .btn {
    width: 40px;
    height: 20px;
    border-radius: 2px;
    font-size: 12px;
    border: none;
    padding: 0;
  }
}
