<div class="app-version-container">
  <div class="modal-body">
    <div class="app-version-content">
      <div class="title text-medium text-center mb-15">{{ 'app version' | translate }}</div>
      <div class="version text-center text-gray-300">STG 1.0.210224.325</div>
    </div>
  </div>
  <div ngbAutoFocus tabindex="0" class="modal-footer text-normal btn-close-hover no-focus" (click)="clickedClose()">
    <button type="button" class="btn text-normal">
      {{ 'button.Cancel' | translate }}
    </button>
  </div>
</div>
