<div class="term-of-use">
  <div class="policy-tittle">{{ 'patient app terms of service and privacy policy' | translate }}</div>
  <div class="mt-3">{{ 'patient app terms of service and privacy policy introduce' | translate }}</div>
  <div class="mt-5">
    <a [href]="omronTermOfUseLink" target="_blank" class="mt-3">{{ 'OMRON connect Terms of Use' | translate }}</a>
  </div>
  <div>
    <a [href]="omronPrivacyLink" target="_blank">{{ 'OMRON CONNECT Privacy Statement' | translate }}</a>
  </div>
  <div class="mt-3">
    {{ 'patient app terms of service and privacy policy introduce addition' | translate }}
  </div>
  <div class="mt-3">
    {{ 'customer information to be additionally acquired' | translate }}
  </div>
  <ul>
    <li>{{ 'medication information, physical condition information (including memos)' | translate }}</li>
  </ul>
  <div class="mt-3">
    {{ 'handling contents unique to this application' | translate }}
  </div>
  <ul>
    <li>
      {{ 'we will provide it to medical professionals such as doctors' | translate }}
    </li>
    <li>
      {{ 'used for the purpose of remote monitoring and medical treatment of hypertension' | translate }}
    </li>
  </ul>
</div>
