.chart-title {
  margin-bottom: 5px;

  .title-icon {
    margin-right: 7px;

    img {
      height: 24px;
      width: 24px;
    }
  }
}

#step-count-chart {
  height: 160px;
  margin-left: -15px;
}
