.registration-top-content {
  text-align: center;
  .content-div {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .registration-top-content {
    .content-div {
      height: 60vh;
    }

    .btn {
      width: 100% !important;
    }
  }
}
