<div class="main-container">
  <div
    class="not-found-header d-flex bg-gray-510 justify-content-between align-items-center"
    *ngIf="!currentRoles || (currentRoles && !currentRoles.length)"
  >
    <img src="./assets/images/icon_omron.svg" alt="img" />
  </div>
  <div
    class="doctor-content-header d-flex justify-content-between align-items-center"
    *ngIf="currentRoles && (currentRoles.includes(role.doctor) || currentRoles.includes(role.nurse))"
  >
    <app-user-login class="ml-auto"></app-user-login>
  </div>
  <div class="not-found-content">
    <div class="can-not-access">{{ 'can not access information' | translate }}</div>
    <button type="button" (click)="goBack()" class="btn btn-primary bg-blue-300 btn-go-back text-normal">
      {{ 'button.back' | translate }}
    </button>
  </div>
</div>
