@import 'src/styles';

.change-password-form {
  padding: 80px 0 0 17.1%;
  padding-left: 195px;
  max-height: calc(100vh - 48px);
  overflow-y: auto;

  .input-group {
    margin-bottom: 24px;

    label {
      width: 190px;
      margin-top: 10px;
      margin-right: 20px;
      text-align: end;
    }

    input {
      max-width: 472px;
      min-width: 200px;
      margin-right: -25px;
      height: 40px;
      border-color: $blue-150;
      border-radius: 0;
      font-size: 14px;
      color: $black-300 !important;
      opacity: 0.85;

      &:focus {
        box-shadow: none;
      }
    }

    .form-control {
      padding-right: 30px;
      width: 472px;
    }

    label {
      width: 190px;
    }

    input::-webkit-input-placeholder {
      font-size: 14px;
      color: $black !important;
      opacity: 0.25 !important;
    }
  }

  .submit-btn {
    width: 192px;
    height: 40px;
    margin-left: 210px;
    box-shadow: none;
    border: none;
    color: $white;
  }

  .invalid {
    width: 631px;
    margin-left: 51px;
    margin-bottom: 24px;
  }
}
