<div
  *ngIf="userRole === role.doctor || userRole === role.nurse"
  class="doctor-content-header d-flex justify-content-end align-items-center"
>
  <app-user-login></app-user-login>
</div>
<form class="change-password-form" [formGroup]="changePasswordForm">
  <ul class="invalid text-normal text-black-300" *ngIf="serverError || validationError">
    <li class="pl-2" *ngIf="serverError">
      {{ (serverErrorMessage ? 'error.' + serverErrorMessage : 'error.current password incorrect') | translate }}
    </li>
    <li *ngIf="validationError && currentPassword.errors && currentPassword.errors.required">
      {{ 'validator.required' | translate: { field: 'current password' | translate } }}
    </li>
    <li *ngIf="validationError && newPassword.errors && newPassword.errors.required">
      {{ 'validator.required' | translate: { field: 'new password' | translate } }}
    </li>
    <li class="pl-2" *ngIf="validationError && newPassword.errors && newPassword.errors.minlength">
      {{ 'validator.minLength' | translate: { field: 'new password' | translate, length: 8 } }}
    </li>
    <li class="pl-2" *ngIf="validationError && newPassword.errors && newPassword.errors.password_valid_character">
      {{ 'validator.passwordInvalidCharacter' | translate: { field: 'new password' | translate } }}
    </li>
    <li class="pl-2" *ngIf="validationError && newPassword.errors && newPassword.errors.password_rules">
      {{ 'validator.passwordFormat' | translate: { field: 'new password' | translate } }}
    </li>
    <li *ngIf="validationError && confirmPassword.errors && confirmPassword.errors.required">
      {{ 'validator.required' | translate: { field: 'new password confirm' | translate } }}
    </li>
    <li
      class="pl-2"
      *ngIf="validationError && changePasswordForm.errors && changePasswordForm.errors.password_mismatch"
    >
      {{
        'validator.passwordMismatch'
          | translate: { field1: 'new password' | translate, field2: 'new password confirm' | translate }
      }}
    </li>
  </ul>
  <div class="input-group">
    <label for="current-password-field">
      <span class="text-red-100">*</span> {{ 'current password' | translate }}:
    </label>
    <input
      id="current-password-field"
      class="form-control"
      [type]="showCurrentPassword ? 'text' : 'password'"
      name="currentPassword"
      formControlName="current_password"
      placeholder="{{ 'current password' | translate }}"
      maxlength="100"
      required
    />
    <div
      class="cursor-pointer toggle-password"
      [ngClass]="showCurrentPassword ? ['icon-eye-slashed'] : ['icon-eye-open']"
      (click)="showCurrentPassword = !showCurrentPassword"
    ></div>
  </div>

  <div class="input-group">
    <label for="new-password-field"><span class="text-red-100">*</span> {{ 'new password' | translate }}:</label>
    <input
      id="new-password-field"
      class="form-control"
      [type]="showNewPassword ? 'text' : 'password'"
      name="newPassword"
      formControlName="new_password"
      placeholder="{{ 'new password' | translate }}"
      maxlength="100"
      required
    />
    <div
      class="cursor-pointer toggle-password"
      [ngClass]="showNewPassword ? ['icon-eye-slashed'] : ['icon-eye-open']"
      (click)="showNewPassword = !showNewPassword"
    ></div>
  </div>

  <div class="input-group">
    <label for="confirm-password-field">
      <span class="text-red-100">*</span> {{ 'new password confirm' | translate }}:
    </label>
    <input
      id="confirm-password-field"
      class="form-control"
      [type]="showRetypePassword ? 'text' : 'password'"
      name="confirmPassword"
      formControlName="confirm_password"
      placeholder="{{ 'new password confirm' | translate }}"
      maxlength="100"
      required
    />
    <div
      class="cursor-pointer toggle-password"
      [ngClass]="showRetypePassword ? ['icon-eye-slashed'] : ['icon-eye-open']"
      (click)="showRetypePassword = !showRetypePassword"
    ></div>
  </div>

  <div class="input-group">
    <button class="btn btn-primary submit-btn bg-blue-300 border-radius-2 text-normal" (click)="onSubmit()">
      {{ 'password change' | translate }}
    </button>
  </div>
</form>
