.chart-title {
  margin-bottom: 5px;

  .title-icon {
    margin-right: 19px;
  }
}

#review-heart-failure-chart {
  height: 257px;
  margin-left: -38px;
}

.chart-body {
  margin-right: -24px;
}

.en-language {
  margin-left: -56px !important;
}
