<div class="chart-title d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <div class="title-icon">
      <img src="./assets/images/icon_body_weight2.svg" alt="icon" />
    </div>
    <div class="mr-10 title">{{ 'others' | translate }}</div>
    <div class="cursor-pointer" (click)="toggleChart()" [hidden]="!showChart">
      <div class="icon icon-hide-chart"></div>
    </div>
    <div class="cursor-pointer" (click)="toggleChart()" [hidden]="showChart">
      <div class="icon icon-show-chart"></div>
    </div>
  </div>
</div>
<div
  id="mail-chart"
  class="chart-body"
  [class.chart-en]="!sharedService.isJa()"
  [class.chart-hidden]="!showChart"
></div>
