.chart-title {
  margin-bottom: 5px;
}

#bp-medication-chart {
  height: 190px;
  margin-left: -10px;
  position: relative;
  z-index: 5;
}

#bp-medication-plan-chart {
  height: 213px;
  margin-left: -10px;
  margin-top: -15px;
  margin-bottom: 39px;
}
