@import 'src/app/styles/variable';

.auth-page {
  background-color: $blue-800;
  flex-direction: column;
  height: 100vh;
  display: flex;
  padding-top: 69px;
  align-items: center;

  .form-area {
    width: 368px;

    .forgot-password-message {
      opacity: 0.4;
      text-align: center;
      color: $black;
    }
  }

  .title {
    font-size: 30px;
    line-height: 40px;
    color: $blue-300;
  }

  .forgot-password-form {
    width: 368px;

    .input-group {
      width: 100%;
      margin: 24px 0px;

      .password-field {
        padding-right: 34px;
      }

      input {
        height: 40px;
        border-color: $blue-150;
        border-radius: 0;
        font-size: 14px;
        color: $black-300 !important;
        opacity: 0.85;
        border-left: none;

        &:focus {
          box-shadow: none;
        }
      }

      input::-webkit-input-placeholder {
        font-size: 14px;
        color: $black !important;
        opacity: 0.25 !important;
      }

      .input-group-prepend {
        .input-group-text {
          border-color: $blue-150;
          border-radius: 0;
          background-color: white;
          border-right: none;
          margin-right: 1px;
          width: 26px;
          padding-right: 0;
        }
      }
    }

    .login-btn {
      width: 100%;
      height: 40px;
      box-shadow: none;
      border: none;
      color: $white;
    }
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    font-size: 14px;
  }
}
