<div class="auth-page">
  <p>
    <img src="./assets/images/icon_title_login.svg" />
  </p>
  <p class="title font-weight-500">{{ 'password setting title' | translate }}</p>

  <div class="form-area">
    <p class="forgot-password-message">{{ 'password setting message' | translate }}</p>
    <form class="forgot-password-form" [formGroup]="passwordSettingForm">
      <ul class="invalid mb-3 text-normal text-black-300" *ngIf="serverError || validationError">
        <li [class.pl-2]="sharedService.isJa()"*ngIf="serverError">
          {{ 'error.' + serverErrorMessage | translate }}
        </li>
        <li *ngIf="validationError && password.errors && password.errors.required">
          {{ 'validator.required' | translate: { field: 'password' | translate } }}
        </li>
        <li [class.pl-2]="sharedService.isJa()" *ngIf="validationError && password.errors && password.errors.minlength">
          {{ 'validator.minLength' | translate: { field: 'password' | translate, length: 8 } }}
        </li>
        <li
          [class.pl-2]="sharedService.isJa()"
          *ngIf="
            validationError && password.errors && password.errors.password_valid_character && !password.errors.minlength
          "
        >
          {{ 'validator.passwordInvalidCharacter' | translate: { field: 'password' | translate } }}
        </li>
        <li
          [class.pl-2]="sharedService.isJa()"
          *ngIf="
            validationError &&
            password.errors &&
            password.errors.password_rules &&
            !password.errors.minlength &&
            !password.errors.password_valid_character
          "
        >
          {{ 'validator.passwordFormat' | translate: { field: 'password' | translate } }}
        </li>
        <li *ngIf="validationError && retypePassword.errors && retypePassword.errors.required">
          {{ 'validator.required' | translate: { field: 'retype password' | translate } }}
        </li>
        <li
          *ngIf="validationError && passwordSettingForm.errors && passwordSettingForm.errors.password_mismatch"
          [class.pl-2]="sharedService.isJa()"
        >
          {{
            'validator.passwordMismatch'
              | translate: { field1: 'password' | translate, field2: 'retype password' | translate }
          }}
        </li>
        <li *ngIf="validationError && resetCode.errors && resetCode.errors.required">
          {{ 'validator.required' | translate: { field: 'reset code' | translate } }}
        </li>
      </ul>
      <div class="input-group">
        <div class="input-group-prepend">
          <img class="input-group-text" src="./assets/images/icon_password_blue.svg" />
        </div>
        <input
          id="password-field"
          class="form-control password-field"
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          formControlName="password"
          placeholder="{{ 'password' | translate }}"
          maxlength="100"
          required
        />
        <div
          class="cursor-pointer toggle-password"
          [ngClass]="showPassword ? ['icon-eye-slashed'] : ['icon-eye-open']"
          (click)="showPassword = !showPassword"
        ></div>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <img class="input-group-text" src="./assets/images/icon_password_blue.svg" />
        </div>
        <input
          id="retype-password-field"
          class="form-control password-field"
          [type]="showRetypePassword ? 'text' : 'password'"
          name="retypePassword"
          formControlName="retype_password"
          placeholder="{{ 'retype password' | translate }}"
          maxlength="100"
          required
        />
        <div
          class="cursor-pointer toggle-password"
          [ngClass]="showRetypePassword ? ['icon-eye-slashed'] : ['icon-eye-open']"
          (click)="showRetypePassword = !showRetypePassword"
        ></div>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <img class="input-group-text" src="./assets/images/icon_mail_blue.svg" />
        </div>
        <input
          id="reset-code-field"
          class="form-control"
          type="text"
          name="resetCode"
          formControlName="reset_code"
          placeholder="{{ 'reset code' | translate }}"
          required
        />
      </div>

      <button class="btn btn-primary login-btn bg-blue-300 border-radius-2 text-normal" (click)="onSubmit()">
        {{ 'button.save' | translate }}
      </button>
    </form>
  </div>
</div>
