<div class="chart-title d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <div class="title-icon">
      <img src="./assets/images/icon_jogging.svg" alt="icon" />
    </div>
    <div class="mr-10 title">
      {{ 'estimated NYHA' | translate }}
    </div>
    <div class="cursor-pointer" (click)="showChart = false" [hidden]="!showChart">
      <div class="icon icon-hide-chart"></div>
    </div>
    <div class="cursor-pointer" (click)="showChart = true" [hidden]="showChart">
      <div class="icon icon-show-chart"></div>
    </div>
  </div>
</div>
<div id="nyha-chart" class="chart-body" [class.chart-hidden]="!showChart"></div>
