@import 'src/styles';

.loader {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $gray-160;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue-100;
}
