@import '../ecg-report.component.scss';

.page-header {
  display: flex;
  justify-content: space-between;

  .page-title {
    display: flex;

    h1 {
      font-size: 25pt;
      font-weight: bold;
      margin-right: 3mm;
      margin-bottom: 6px;
    }

    span {
      font-size: 11pt;
      margin-top: 10px;
    }
  }

  .right-side {
    text-align: right;
  }
}
