<div class="patient-detail-component">
  <div class="d-flex align-items-center">
    <div class="left-title">{{ 'patient detail.blood pressure target' | translate }}</div>
    <div class="div-icon-setting cursor-pointer" (click)="openBloodPressureTarget.emit()">
      <div class="icon-setting-1"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-end content pt-0">
    <div class="icon-target icon"></div>
    <div>
      <span class="primary-value">{{ patient?.patient_sys_goal | dash }} / {{ patient?.patient_dia_goal | dash }}</span>
      <span class="text-small unit">mmHg</span>
    </div>
  </div>
</div>
