<div class="auth-page">
  <p>
    <img src="./assets/images/icon_title_login.svg" />
  </p>
  <p class="title font-weight-500">{{ 'forgot password title' | translate }}</p>

  <div class="form-area">
    <p class="forgot-password-message">{{ 'forgot password message' | translate }}</p>
    <ul class="invalid mb-3 text-normal text-black-300" *ngIf="serverError || validationError">
      <li *ngIf="serverError">
        {{ 'error.incorrect username email' | translate }}
      </li>
      <li *ngIf="validationError && usernameOrEmail.errors && usernameOrEmail.errors.required">
        {{ 'validator.required' | translate: { field: 'username or email' | translate } }}
      </li>
    </ul>
    <form class="forgot-password-form" [formGroup]="forgotPassForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <img class="input-group-text" src="./assets/images/icon_user_blue.svg" />
        </div>
        <input
          id="userid-field"
          class="form-control"
          type="text"
          name="username"
          formControlName="username_or_email"
          placeholder="{{ 'username or email' | translate }}"
          required
        />
      </div>

      <button class="btn btn-primary login-btn bg-blue-300 border-radius-2 text-normal" (click)="onSubmit()">
        {{ 'send' | translate }}
      </button>
    </form>
  </div>
</div>
