<div class="patient-detail-component">
  <div class="d-flex justify-content-between align-items-center">
    <div class="left-title">{{ 'patient detail.heart beat' | translate }}</div>
    <div class="text-small text-gray-190">
      {{ showDate() ? (showDate() | translate) : '----/--/--' }}
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-end content pt-0">
    <div class="icon-heart-beat icon"></div>
    <div>
      <span class="primary-value">{{ patient?.patient_stat_heart_beat_morning | dash }}</span>
      <span class="text-small unit">bpm</span>
    </div>
  </div>
</div>
