input[type='checkbox'] {
  cursor: auto;
}

.div-label {
  width: 152px;
}

.patient-info {
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .div-label {
    min-width: 110px;
    width: 110px;
  }

  .patient-info {
    padding-left: 0;
  }
}
