<div class="chart-title d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <div class="title-icon">
      <img src="./assets/images/icon_temperature_small.svg" alt="icon" />
    </div>
    <div class="mr-10 title">
      {{ 'patient detail.temperature' | translate }}
    </div>
    <div class="cursor-pointer" (click)="toggleChart()" [hidden]="!showChart">
      <div class="icon icon-hide-chart"></div>
    </div>
    <div class="cursor-pointer" (click)="toggleChart()" [hidden]="showChart">
      <div class="icon icon-show-chart"></div>
    </div>
  </div>
  <div class="cursor-pointer text-blue-210 detail" (click)="openTemperatureHistory.emit()">
    {{ 'detail' | translate }}>
  </div>
</div>
<div id="temperature-body-chart" class="chart-body" [class.chart-hidden]="!showChart"></div>
