.chart-title {
  margin-bottom: 5px;

  .title-icon {
    margin-right: 16px;
  }
}

.title-icon {
  img {
    height: 23px;
  }
}

.title-icon {
  img {
    height: 23px;
  }
}

#body-weight-chart {
  height: 187px;
}
